<section id="formacion" tabindex="-1" aria-labelledby="titulo-formacion" class="relative min-h-fit overflow-hidden">
  <app-section-title [id]="'titulo-formacioin'" [titulo]="'Formación'" [type]="'h2'"></app-section-title>
  <div class="px-10">
    <ul class="p-5 py-10 grid grid-cols-[auto_auto]">
      <span class="formacion flex md:justify-end items-center"></span>
      <li class="text-[clamp(1rem,2.5vw,1.8rem)] break-words">Técnico Superior en Desarrollo de Aplicaciones Web (DAW)
        Instituto Provençana, Barcelona — 2022 - 2025
      </li>
    </ul>
  </div>
</section>
