<section tabindex="-1" aria-labelledby="titulo-principal" class="relative max-h-fit">
  <div class="grid grid-cols-2 grid-rows-[auto_auto_auto] my-4">
    <h1 class="text-[clamp(1.4rem,2.5vw,3rem)] col-span-2" id="titulo-principal">Emiliano Carrizo</h1>
    <p class="text-[clamp(.9rem,2.5vw,1.9rem)] col-span-2 px-4 break-words">Técnico Superior en Desarrollo de Aplicaciones Web</p>
    <button onclick="document.getElementById('contacto').scrollIntoView()"
      class="inline-block max-w-fit m-auto text-[#FF00FF] animate-pulse outline-none transition-transform duration-200 ease-in-out focus:scale-125"
    >
    Contactame
    </button>
    <a href="CV/Emiliano_Carrizo_Ballestero_CV.pdf" download
    class="inline-block max-w-fit m-auto text-[#00F7FF] animate-pulse outline-none transition-transform duration-200 ease-in-out focus:scale-125"
    >Descargar CV</a>
  </div>

</section>
