<section id="sobre-mi" tabindex="-1" aria-labelledby="titulo-sobre-mi" class="relative overflow-hidden">
  <app-layout class="absolute w-full"></app-layout>
  <app-section-title [id]="'sobre-mi'" [titulo]="'Sobre mí'" [type]="'h2'"></app-section-title>
  <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-[auto_auto] md:grid-rows-1 md:my-[5%] place-items-center">
    <div class="md:col-span-2 p-4 px-10 lg:px-20 text-center">
      <p class="text-[clamp(1.2rem,2.5vw,2rem)]">
        Soy un entusiasta del desarrollo web con interés en la tecnología, el código limpio y la experiencia de usuario. 
        Disfruto trabajar en proyectos donde pueda aportar soluciones claras y eficientes, manteniendo siempre una mirada atenta a los detalles.
      </p>
      <p class="mt-4 text-[clamp(1.2rem,2vw,2rem)]">
        Me destaco por mi responsabilidad, toma de decisiones basada en lógica y experiencia, y facilidad para adaptarme y aprender en equipo.
      </p>
      <p class="mt-4 text-[clamp(1.2rem,2.5vw,2rem)]">
        Siempre abierto a nuevos desafíos y buenas ideas.
      </p>
    </div>
    <div>
      <img src="images/FotoCV.png" alt="Foto de Emiliano Carrizo, desarrollador web" 
        class="h-50 scale-90 rounded-full border-2 shadow-[0_0_5px_#FFFF33] border-[#FFFF33]"
      >
    </div>
  </div>
</section>
