.filtroTecnologias {
  background: linear-gradient(to left, #FFFFFF 50%, #FF00FF 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
  text-decoration: none;
}

.filtroTecnologias:hover, .filtroTecnologias:focus   {
  outline: none;
  background-position: left bottom;
}

.softskills::before{
  content: '';
  display: inline-block;
  justify-content: center;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: #FFFF33;
  box-shadow: 0 0 5px #FFFF33;
  margin-right: 5px;
}

