<nav aria-label="Navegación principal"
class="grid justify-center items-center w-full h-full bg-[#002A3A] shadow-[0_0_10PX_5PX_#AAAAAA]"
>
  <ul class="z-50">
    <li>
      <a 
        onclick="document.getElementById('sobre-mi').scrollIntoView()"
        href="#sobre-mi" class="nav-link inline-block text-[clamp(1.2rem,2vw,2rem)]">Sobre mí
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-proyectos').scrollIntoView()"
        href="#proyectos" class="nav-link inline-block text-[clamp(1.2rem,2vw,2rem)]">Proyectos
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-habilidades').scrollIntoView()"
        href="#habilidades" class="nav-link inline-block text-[clamp(1.2rem,2vw,2rem)]">Habilidades
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-formacion').scrollIntoView()"
        href="#formacion" class="nav-link inline-block text-[clamp(1.2rem,2vw,2rem)]">Formación
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-contacto').scrollIntoView()"
        href="#contacto" class="nav-link inline-block text-[clamp(1.2rem,2vw,2rem)]">Contacto
      </a>
    </li>
  </ul>
</nav>
