<nav aria-label="Navegación principal"
class="grid justify-center items-center w-full h-full bg-[#002A3A] shadow-[0_0_10PX_5PX_#AAAAAA]"
>
  <ul class="z-50">
    <li>
      <a 
        onclick="document.getElementById('sobre-mi').scrollIntoView()"
        href="#sobre-mi" class="inline-block text-[clamp(1rem,2vw,2rem)] outline-none transition-transform duration-200 ease-in-out hover:scale-125 focus:scale-125">Sobre mí
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-proyectos').scrollIntoView()"
        href="#proyectos" class="inline-block text-[clamp(1rem,2vw,2rem)] outline-none transition-transform duration-200 ease-in-out hover:scale-125 focus:scale-125">Proyectos
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-habilidades').scrollIntoView()"
        href="#habilidades" class="inline-block text-[clamp(1rem,2vw,2rem)] outline-none transition-transform duration-200 ease-in-out hover:scale-125 focus:scale-125">Habilidades
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-formacion').scrollIntoView()"
        href="#formacion" class="inline-block text-[clamp(1rem,2vw,2rem)] outline-none transition-transform duration-200 ease-in-out hover:scale-125 focus:scale-125">Formación
      </a>
    </li>
    <li>
      <a 
        onclick="document.getElementById('titulo-contacto').scrollIntoView()"
        href="#contacto" class="inline-block text-[clamp(1rem,2vw,2rem)] outline-none transition-transform duration-200 ease-in-out hover:scale-125 focus:scale-125">Contacto
      </a>
    </li>
  </ul>
</nav>